*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.container{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    width: 70%;
    min-height: 30vh;
    gap: 30px;
    margin: 20px 20px;
    border-radius: 20px;
}
.buttons{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
   
    background-color:yellow;
   
} 
.btn{
    width: 100px;
    height: 40px;
    background-color: transparent;
    border: 3px solid #ff11bf;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #ff27cd;
     
  }
  .btn:hover{
      box-shadow: 0 0 10px 0 #ff27cd inset, 0 0 20px 2px #ff27cd;
      border: 3px solid #ff27cd;
      
   }
   .no-btn{
    position: absolute;
    top:385px;
    left: 400px;
    cursor: pointer;
 }

 @media (min-width: 576px) { 
    .no-btn{
    right: 60px;
   } 
}

@media (min-width: 768px) { 
    .no-btn{
        right: 60px;
     } 
 }

@media (min-width: 992px) {
    .no-btn{
    
        right: 660px;
     } 
}

